<md-content>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <th md-column>Nom</th>
        <th md-column>Empresa</th>
        <th md-column>País</th>
        <th md-column>Factura</th>
        <th md-column>Número</th>
        <th md-column>Editar</th>
        <th md-column>Enviar mail</th>
      </thead>
      <tbody md-body>
        <tr md-select="comp" md-autoselect ng-repeat="comp in competitors">
          <td md-cell>{{comp.fullName}}</td>
          <td md-cell>{{comp.comName}}</td>
          <td md-cell>{{comp.country}}</td>
          <td md-cell ng-if="comp.factura === '1'">SI</td>
          <td md-cell ng-if="comp.factura === '0'">NO</td>
          <td md-cell>{{comp.numfactura}}</td>
          <td md-cell><md-button class="md-mini md-accent" ng-click="edit(comp.id)" aria-label="editar"><ng-md-icon icon="visibility"></ng-md-icon></md-button></td>
          <td md-cell><md-button class="md-mini md-primary" ng-click="mail(comp.id)" aria-label="reenviar mail"><ng-md-icon icon="mail_outline"></ng-md-icon></md-button></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-content>
