<md-content>
  <form>
    <md-input-container layout="row">
      <label>Títol</label>
      <input type="text" ng-model="film.title">
    </md-input-container>
    <div layout="row">
      <md-input-container layout-fill>
        <label>Sinopsi</label>
        <textarea  layout="fill" rows="6" ng-model="film.synopsi" ng-minlength="300" aria-label="synopsi"></textarea>
      </md-input-container>
    </div>
    <md-input-container>
      <label>Director</label>
      <input type="text" ng-model="film.director">
    </md-input-container>
    <md-input-container>
      <label>Productor</label>
      <input type="text" ng-model="film.producer">
    </md-input-container>
    <div layout="row">
      <md-card>
        <img class="md-card-image" ng-src="data:{{film.screenshot1Type}};base64,{{film.screenshot1}}" alt="screenshot" />
        <md-card-footer>
        Screenshot 1
        </md-card-footer>
      </md-card>
      <md-card>
        <img class="md-card-image" ng-src="data:{{film.screenshot2Type}};base64,{{film.screenshot2}}" alt="screenshot" />
        <md-card-footer>
        Screenshot 2
        </md-card-footer>
      </md-card>
      <md-card>
        <img class="md-card-image" ng-src="data:{{film.screenshot3Type}};base64,{{film.screenshot3}}" alt="screenshot" />
        <md-card-footer>
        Screenshot 3
        </md-card-footer>
      </md-card>
    </div>
    <div layout="row" layout-align="center" layout-fill>
      <md-button ng-if="!film.film" class="md-fab md-primary" aria-label="upload film"  accept="video/*" ngf-select="upload($file)" ngf-max-size="999MB"><ng-md-icon icon="movie"></md-button>
      <video style="width: 50%; height: 50%;" ng-if="film.film" ng-src="http://terres.info/intranet/film/{{film.film}}" controls></video>
    </div>
  </form>
</md-content>
