<div class="loader" layout="column" layout-padding layout-align="center center" ng-if="loading">
  <h1>Espera mentre es carreguen les dades, pot trigar una estona</h1>
  <h3>{{percentage}}%</h3>
  <md-progress-linear md-mode="determinate" value="{{percentage}}" class="md-accent md-hue-1"></md-progress-linear>
</div>
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-cloak>
        <md-toolbar class="md-tall">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="80" style="margin-top: 10px;">
                        <div>MENU</div>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ui-sref="index.dashboard">
                <div class="inset">
                    <ng-md-icon icon="apps"></ng-md-icon>
                </div>
                <p>Panell</p>
            </md-list-item>
            <md-list-item ui-sref="index.terreslab">
                <div class="inset">
                    <ng-md-icon icon="contacts"></ng-md-icon>
                </div>
                <p>terres LAB</p>
            </md-list-item>
            <md-list-item ui-sref="index.addcompetitor">
                <div class="inset">
                    <ng-md-icon icon="account_circle"></ng-md-icon>
                </div>
                <p>Afegir competidor</p>
            </md-list-item>
            <md-list-item ui-sref="index.addterreslab">
                <div class="inset">
                    <ng-md-icon icon="contact_mail"></ng-md-icon>
                </div>
                <p>Afegir assistent LAB</p>
            </md-list-item>
        </md-list>
    </div>
</md-sidenav>
<div layout="column" class="relative md-hue-1" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <img src="img/terres-mini.png" alt="terres" />
        </div>
    </md-toolbar>
    <md-content layout="column" flex md-scroll-y style="background-color:#DCDCDC">
        <div ui-view layout-padding></div>
    </md-content>
</div>
