<md-content ng-controller="SustainCtrl as vm">
  <form name="sustain_register" layout="column" layout-padding layout-margin>
    <h1 translate>Registre al Sustainable Day</h1>
    <div layout="column" layout-gt-md="row">
      <div layout="column" layout-gt-xs="row">
        <md-input-container>
          <label for="nom">Nom</label>
          <input type="text" name="nom" ng-model="vm.formData.nom" required="true">
        </md-input-container>
        <md-input-container>
          <label for="cognoms">Cognoms</label>
          <input type="text" name="cognoms" ng-model="vm.formData.cognoms" required="true">
        </md-input-container>
      </div>
      <div layout="column" layout-gt-xs="row">
        <md-input-container>
          <label for="email">email</label>
          <input type="email" name="email" ng-model="vm.formData.email" required="true">
        </md-input-container>
        <md-input-container>
          <label for="direccio">Adreça</label>
          <input type="text" name="direccio" ng-model="vm.formData.direccio" required="true">
        </md-input-container>
      </div>
    </div>
    <div layout="column" layout-gt-md="row">
      <div layout="column" layout-gt-xs="row">
        <md-input-container>
          <label for="city">Ciutat</label>
          <input type="text" name="city" ng-model="vm.formData.city" required="true">
        </md-input-container>
        <md-input-container>
          <label for="country">País</label>
          <input type="text" name="city" ng-model="vm.formData.country" required="true">
        </md-input-container>
      </div>
    </div>
    <div layout="row" layout-align="center">
      <md-button class="md-raised md-primary" ng-click="vm.processSustain()" ng-disabled="sustain_register.$invalid">Registrar</md-button>
    </div>
  </form>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <th md-column><span></span></th>
        <th md-column><span>Nom</span></th>
        <th md-column><span>Cognoms</span></th>
        <th md-column><span>E-mail</span></th>
        <th md-column><span>Ciutat</span></th>
        <th md-column><span>País</span></th>
        <!-- <th md-column><span>Editar</span></th> -->
      </thead>
      <tbody md-body class="taula">
        <tr ng-repeat="t in vm.assistents track by $index">
          <td md-cell>{{$index + 1}}</td>
          <td md-cell ng-bind-html="t.nom"></td>
          <td md-cell ng-bind-html="t.cognoms"></td>
          <td md-cell>{{t.email}}</td>
          <td md-cell ng-bind-html="t.ciutat"></td>
          <td md-cell ng-bind-html="t.pais"></td>
          <!-- <td md-cell><md-button class="md-mini md-accent" ng-click="edit(t.id)" aria-label="editar"><ng-md-icon icon="visibility"></ng-md-icon></md-button></td> -->
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-content>
