<md-content>
  <md-table-container>
    <table md-table>
      <thead md-head>
        <th md-column><span></span></th>
        <th md-column><span>Nom</span></th>
        <th md-column><span>Cognoms</span></th>
        <th md-column><span>E-mail</span></th>
        <th md-column><span>Ciutat</span></th>
        <th md-column><span>País</span></th>
        <th md-column><span>Categoria</span></th>
        <th md-column><span>Editar</span></th>
        <th md-column><span>Eliminar</span></th>
      </thead>
      <tbody md-body>
        <tr ng-repeat="t in assistents track by $index">
          <td md-cell>{{$index + 1}}</td>
          <td md-cell ng-bind-html="t.nom"></td>
          <td md-cell ng-bind-html="t.cognoms"></td>
          <td md-cell>{{t.email}}</td>
          <td md-cell ng-bind-html="t.ciutat"></td>
          <td md-cell ng-bind-html="t.pais"></td>
          <td md-cell>{{t.categoria}}</td>
          <td md-cell class="taulaboto"><md-button class="md-mini md-accent" ng-click="edit(t.id)" aria-label="editar"><ng-md-icon icon="visibility"></ng-md-icon></md-button></td>
          <td md-cell class="taulaboto"><md-button class="md-mini md-warn" ng-click="delete(t.id)" aria-label="eliminar"><ng-md-icon icon="cancel"></ng-md-icon></md-button></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</md-content>
