<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Empresa</th>
            <th>Pais</th>
            <th>Justificant</th>
            <th>Validar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.tableData track by $index">
            <td data-title="ID">{{$index + 1}}</td>
            <td data-title="nom">{{data.fullName}}</td>
            <td data-title="empresa">{{data.comName}}</td>
            <td data-title="pais">{{data.country}}</td>
            <td data-title="justificant">{{data.paymentProof}}</td>
            <td data-title="validar"><md-switch ng-model="data.payment" aria-label="Pagament validat">{{data.payment}}</md-switch></td>
        </tr>
        </tbody>
    </table>
</div>
