html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  overflow: auto !important;
}
body, h1, h2, h3 {
  font-weight: 300
}
md-toolbar:not(.md-hue-1), .md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
}
md-input-container:not(.md-input-has-value) input:not(:focus){
  color: black;
}
.user-avatar {
  border-radius: 99%;
}
md-toolbar.md-tall {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
}
code {
  color: #4285f4;
  -webkit-font-smoothing: auto;
  font-weight: 300;
  background-color: #F2F2F2;
  padding: 10px;
}
.text-center {
  text-align: center!important
}

.text-mini p{
  font-size: 9px;
}

.loader{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  cursor: progress;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}

.nopassword{
  background-color: rgb(255,204,188);
}

.traduit{
  background-color: #FFF176;
}

.taula tr{
  line-height: 40px;
}

.taulaboto{
  padding: 0 !important;
}

.taulaboto .md-button{
  min-width: 25px;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 2px !important;
}

.viafn{
  background-color: #c2c9f4;
}
